.Navbar {
	width: 100%;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-1);
	color: var(--color-4);
	padding: 0 3rem;
}

.Navbar h1 {
	font-weight: bold;
}

.Navbar nav button {
	font-weight: normal;
	background-color: transparent;
	border: none;
	transition: all 0.2s;
	color: inherit;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
}

.Navbar nav button:hover {
	background-color: var(--color-4);
	color: var(--color-3);
}

.Navbar nav .Dropdown {
	background-color: var(--color-4);
	color: var(--color-3);
	border: none;
	text-align-last: center;
	transition: all 0.2s;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	margin-left: 1rem;
}

.Navbar nav .Dropdown:active {
	outline: none;
}

.Navbar nav .Dropdown option {
	background-color: var(--color-1);
}
