.Navbar {
	width: 100%;
	background-color: var(--color-1);
	color: var(--color-4);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Heading {
	width: 100%;
	text-align: center;
}
