@import url(./fonts/montserrat.css);
@import url(./fonts/avengers.css);
@import url(./fonts/onePiece.css);
@import url(./fonts/lakers.css);
@import url(./fonts/pokemon.css);
@import url(./fonts/theOffice.css);

:root {
	--color-1: #292f36;
	--color-2: #4ecdc4;
	--color-3: #ffffff;
	--color-4: #ff6b6b;
}

*,
*::after,
*::before {
	font-family: inherit;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

@media only screen and (max-width: 508px) {
	html {
		font-size: 80%;
	}
}

@media only screen and (max-width: 406px) {
	html {
		font-size: 70%;
	}
}

@media only screen and (max-width: 355px) {
	html {
		font-size: 60%;
	}
}

@media only screen and (max-width: 304px) {
	html {
		font-size: 50%;
	}
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-3);
	font-family: 'Montserrat', sans-serif;
}

::selection {
	background-color: var(--color-4);
	color: var(--color-3);
}

button,
select,
option {
	outline: none;
	cursor: pointer;
}
